@charset "UTF-8";
@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.camping-login-wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 70%;
	z-index: -1;
  }
  
  .camping-login-container{
	  width: 100vw;
	  height: 100vh;
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  grid-gap :7rem;
	  padding: 0 2rem;
  }
  
  .camping-login-img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
  }
  
  .camping-login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
  }
  
  .camping-login-img img{
	width: 500px;
  }
  
  .camping-login-form-container{
	width: 360px;
  }
  
  .camping-login-content img{
	  height: 100px;
	  margin-left: -20px;
  }
  
  .camping-login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
  }
  
  .camping-login-content .camping-login-input-div{
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
  }
  
  .camping-login-content .camping-login-input-div.one{
	margin-top: 0;
  }
  
  .i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .i i{
	transition: .3s;
  }
  
  .camping-login-input-div > div{
	position: relative;
	height: 45px;
  }
  
  .camping-login-input-div > div > h5{
	position: absolute;
	left: 10px;
	top: -50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
  }
  
  .camping-login-input-div:before, .camping-login-input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
  }
  
  .camping-login-input-div:before{
	right: 50%;
  }
  
  .camping-login-input-div:after{
	left: 50%;
  }
  
  .camping-login-input-div.focus:before, .camping-login-input-div.focus:after{
	width: 50%;
  }
  
  .camping-login-input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
  }
  
  .camping-login-input-div.focus > .i > i{
	color: #38d39f;
  }
  
  .camping-login-input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 0.8em;
	color: #555;
	font-family: 'poppins', sans-serif;
  }
  
  .input-div.pass{
	margin-bottom: 4px;
  }

.camping-login-option-container {
	display: flex;
	justify-content: space-around;
}
.camping-login-option-container span {
	font-family: 'GothicA1-Light';
	font-size: 0.9rem;
	color: #666;
}
.camping-login-remember{
	font-family: 'GothicA1-Light';
	display: block;
	text-align: right;
	text-decoration: none;
	color: #666;
	font-size: 0.9rem;
	transition: .3s;	
}

.camping-login-sign-up {
	text-decoration: none;
	text-align: center;
	font-size: 0.9rem;
	transition: .3s;	
}

.camping-login-remember:hover{
	color: #38d39f;
  }
  
  .camping-login-button{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	text-align: center;
  }
  .camping-login-button:hover{
	background-position: right;
  }

.camping-auto-login-container {
	display: flex;
	color: #666;
}

.camping-auto-login-container input {
	cursor: pointer;
}
  @media screen and (max-width: 1050px){
	.camping-login-container{
	  grid-gap: 5rem;
	}
  }
  
  @media screen and (max-width: 1000px){
	.camping-login-form-container{
	  width: 290px;
	}
  
	.camping-login-content h2{
		  font-size: 2.4rem;
		  margin: 8px 0;
	}
  
	.camping-login-img img{
	  width: 400px;
	}
  }
  
  @media screen and (max-width: 900px){
	.camping-login-container{
	  grid-template-columns: 1fr;
	}
  
	.camping-login-img{
	  display: none;
	}
  
	.camping-login-wave{
	  display: none;
	}
  
	.camping-login-content{
	  justify-content: center;
	}
  }
  
.camping-login-find-category-container {
	display: flex;
	height: 50px;
	margin-bottom: 20px;
}

.camping-login-find-category-container div {
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 1.1em;
	padding: 5px 10px;
	margin-right: 1px;
	font-family: 'GothicA1-Light';
	border-radius: 5px;
	color: #999;
}

.camping-login-find-category-container div span {
    font-family: 'LINESeedKR-Bd';
    cursor: pointer;
}
.camping-login-find-category-id span{
	color: #32be8f;
}
.camping-login-find-category-pw2 span{
	color: #32be8f;
}
#camping-login-category-find-pw-container {
	display : none;
}

#camping-login-category-pw {
	display: none;
}

#find-id-button span{
	color: #32be8f;
}

#camping-login-category-phone {
	display: none;
}

#camping-login-category-pw-email {
	display: none;
}
