@charset "UTF-8";

$speed: 0.5s;

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hahmlet-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

#top-div {
  font-family: "NanumSquareNeo-Variable";
  /* border: 5px solid black; */
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.second-div {
  border: 1.5px solid #dfdfe1;
  margin: 2%;
  width: 200px;
  height: 300px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  cursor: pointer;
  
}

.product-img {
  /* border: 2px solid red; */
  height: 65%;
}

.product-img img {
  max-width: 100%;
  /* border: 2px solid red; */
  border-radius: 5px;
  max-height: 100%;
}

.product-name {
  font-family: "NanumSquareNeo-Variable";
  padding-bottom: 2px;
  border-bottom: 1.5px solid #dfdfe1;
  margin: 3%;
  max-width: 100%;
  /* border: 2px solid blue; */
  height: 17%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}

.product-name span:hover{
	text-decoration: underline;
}

.product-price {
  font-family: "NanumSquareNeo-Variable";
  margin-top: 5%;
  /* border: 3px solid green; */
  height: 12%;
  font-size: 0.9em;
}

.stuff-search {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
}

.button:hover {
  box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

#shop-paging-btn {
  margin: 3%;
  display: flex;
  justify-content: center;
}

.wrap-second {
  width: 75%;
  margin: 0px auto;
}

/* search */

.stuff-search-container {
  position: relative;
  width: 400px;
  height: 50px;
  margin: 30px auto;
}

#stuff-search-input {
  font-family: "NanumSquareNeo-Variable";
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #5e5e5e;
  font-size: 1.1em;
}

.stuff-search-img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 9px;
  cursor: pointer;
}
