@charset "UTF-8";

@font-face {
	font-family: "BMJUA";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GangwonEdu_OTFBoldA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Hahmlet-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Humanbumsuk';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cafe24Ssurround';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.user-like-container {
	width: 90%;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0px;
	background-color: #f8fcfe;
}

.user-like-title-container {
	font-family: 'Cafe24Ssurround';
	font-size: 1.8em;
	width: 90%;
	margin: 0px auto;
	display: flex;
	margin-bottom: 20px;
	border-bottom: 1px solid #8D8D8D;
	padding: 10px 0px;
}

.user-like-title-container {
	margin-top: 30px;
}

.user-like-title-container span {
	margin-left: 2%;
}

.user-like-item {
	position: relative;
	width: 20%;
	height: 300px;
	margin: 2% 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'GangwonEdu_OTFBoldA';
	font-size: 1.2em;
	cursor: pointer;
	box-shadow: 1px 1px 1px 0.8px #8D8D8D;
}

.user-hidden-item {
	padding-left: 10px;
	align-items: flex-start;
	background-color: #F7F7F7;
}

.user-like-item-img {
	width: 100%;
	height: 60%;
	margin-bottom: 5%;
}

.user-like-item-desc-container {
	border: 1px solid black;
}

.user-like-item-like-container {
	display: flex;
	align-items: center;
	font-size: 0.9em;
}

.user-like-item-like {
	width: 20px;
	margin-right: 5px;
}

.user-hidden-item-star {
	font-family: 'Hahmlet-Regular';
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.user-hidden-item span {
	font-size: 0.8em;
	font-family: 'Hahmlet-Regular';
	font-weight: 500;
	margin-bottom: 10px;
}

.user-hidden-tag {
	margin-left: 10px;
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.user-hidden-tag button {
	margin-bottom: 10px;
	font-family: 'GmarketSansMedium';
	font-size: 0.7em;
	padding: 3px 10px;
	border-radius: 30px;
	background-color: #fff;
	border: 2px solid #8EC3B0;
}

.user-hidden-like-item {
	display: none;
}

.user-like-trash {
	position: absolute;
	width: 22px;
	bottom: 2px;
	right: 2px;
}

/* 지도로 검색 */
#canvas {
	float: left;
	position: relative;
	width: 320px;
	height: 400px;
	margin: 0
}

#south {
	width: 320px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 0;
}

#seoul, #gygg, #incheon, #gangwon, #chungbuk, #chungnam, #daejeon,
	#sejong, #jeonbuk, #jeonnam, #gwangju, #gyeongbuk, #gyeongnam, #daegu,
	#busan, #ulsan, #jeju {
	display: none;
	position: absolute;
	height: 16px;
	color: black;
	padding: 2px 5px;
	border-radius: 30px;
	text-align: center;
	font-size: 0.9em;
	font-family: "NanumSquareNeo-Variable";
}

#seoul {
	left: 80px;
	top: 75px;
}

#gygg {
	left: 80px;
	top: 65px;
}

#incheon {
	left: 60px;
	top: 75px;
}

#gangwon {
	left: 130px;
	top: 45px;
}

#chungbuk {
	left: 120px;
	top: 155px;
}

#chungnam {
	left: 50px;
	top: 165px;
}

#daejeon {
	left: 80px;
	top: 175px;
}

#sejong {
	left: 70px;
	top: 145px;
}

#jeonbuk {
	left: 80px;
	top: 235px;
}

#jeonnam {
	left: 60px;
	top: 300px;
}

#gwangju {
	left: 60px;
	top: 260px;
}

#gyeongbuk {
	left: 180px;
	top: 190px;
}

#gyeongnam {
	left: 150px;
	top: 270px;
}

#daegu {
	left: 170px;
	top: 210px;
}

#busan {
	left: 190px;
	top: 300px;
}

#ulsan {
	left: 200px;
	top: 225px;
}

#jeju {
	left: 65px;
	top: 385px;
}

.camping-search-map-container {
	display: flex;
}
.camping-choice-container{
	height: 100px;
}
.map-canvas-container {
	position: sticky;
	top: 300px;
	width: 30%;
	height: 420px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #dfdfe1;
	margin-left: 5%;
	margin-right: 3%;
}

.camping-search-map-title-container {
	font-family: "BMJUA";
	position: sticky;
	top: 250px;
	margin: 0px auto;
	margin-bottom: 20px;
	width: 95%;
	font-size: 1.6em;
}

.facilites-margin {
	margin-bottom: 20px;
}

/* toggle Button */
* {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: none;
}

#app-cover {
	display: table;
	width: 600px;
	margin: 80px auto;
	counter-reset: button-counter;
}

.row {
	/* display: table-row; */
	
}

.toggle-button-cover {
	/* display: table-cell; */
	position: relative;
	width: 200px;
	height: 70px;
	/* box-sizing: border-box; */
}

.button-cover {
	height: 60px;
	margin: 20px;
	border-radius: 4px;
}

.button-cover:before {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #d7e3e3;
	font-size: 12px;
	line-height: 1;
	padding: 5px;
}

.button-cover, .knobs, .layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.button-map {
	position: relative;
	top: 10%;
	left: -30%;
	/* 74px*/
	width: 100px;
	height: 36px;
	margin: -20px auto 0 auto;
	overflow: hidden;
}

.button-map.r, .button-map.r .layer {
	border-radius: 100px;
}

.button-map.b2 {
	border-radius: 2px;
}

.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.knobs {
	z-index: 2;
}

.layer {
	width: 100%;
	background-color: #ebf7fc;
	transition: 0.3s ease all;
	z-index: 1;
}

/* Button 16 */
#button-16 .knobs:before {
	content: "VIEW";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 43px;
	height: 10px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 9px 4px;
	background-color: #03a9f4;
	border-radius: 2px;
	transition: 0.3s ease all, left 0.3s
		cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-16 .checkbox:active+.knobs:before {
	width: 46px;
}

#button-16 .checkbox:checked:active+.knobs:before {
	margin-left: -26px;
}

#button-16 .checkbox:checked+.knobs:before {
	content: "NONE";
	left: 42px;
	background-color: #f44336;
}

#button-16 .checkbox:checked ~ .layer {
	background-color: #fcebeb;
}