 .board_wrap {
 	width: 800px;
    min-width: 800px;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 3px solid #fdfcfb;
    box-shadow: 1px 1px 2px 6px grey;
    border-radius: 10px;
    padding-top: 20px;
    }

    .board_list .num,
    .board_list .writer,
    .board_list .count {
        /* display: none; */
    }

    .board_list .date {
        width: 40%;
    }

    .board_list .title {
        text-indent: 5px;
        text-align: center;
    }

    .board_list .top .title {
        text-indent: 0;
    }

    .board_page a {
        width: 26px;
        height: 26px;
    }

    .board_page a.bt {
        padding-top: 7px;
    }
    
    .board_page a.num {
        padding-top: 6px;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 10pt;
    }

    .board_write .info dl {
        width: 49%;
    }

    .board_write .info dl:first-child {
        margin-right: 2%;
    }


    .board_write .title dd,
    .board_write .info dd {
        width: 600px;
        display: flex;
    }
	dd img {
		width: 25%;
		margin-left: 50px;
	}
    .board_write .title input[type="text"],
    .board_write .info input[type="text"],
    .board_write .info input[type="password"] {
        width: 100%;
    }
}


.board-detail-img-container {
	width: 50px;
}

.board_title {
  font-family: "NanumSquareNeo-Variable";
}