@charset "UTF-8";
body{
	background: rgba(0, 0, 0, 0.1);
}
.top_wrap {
	font-family: "Noto Sans KR", sans-serif;
	box-sizing: border-box;
	position: relative;
	margin: auto;
	padding: 0;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.1);
	display: flex;
	width: 1000px;
	height: 800px;
}

.find a {
	text-decoration: none;
	color: black;
}
.left_id{
	width:400px;
	position: absolute;
	left: 80px;
}
.right_pw{
	width:400px;
	position: absolute;
	right: 40px;
}

.wrap3 button {
	border: 0;
	outline: none;
	border-radius: 40px;
	background: linear-gradient(to left, rgb(70, 237, 61),
		rgb(134, 245, 168));
	color: white;
	font-size: 1.2em;
	letter-spacing: 2px;
}

.find {
	width: 350px;
	background: white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}

.find h2 {
	color: #3CB371;
	font-size: 2em;
}

.account_type input {
	height: 50px;
	border-radius: 30px;
	margin-top: 10px;
	padding: 0px 20px;
	border: 1px solid lightgray;
	outline: none;
}

.submit {
	margin-top: 50px;
	width: 40%;
	justify-content: center;
}

.submit button {
	width: 40%;
	height: 30px;
	border: 0;
	outline: none;
	border-radius: 40px;
	background: linear-gradient(to left, rgb(70, 237, 61),
		rgb(134, 245, 168));
	color: white;
	font-size: 1.2em;
	letter-spacing: 2px;
	position: absolute;
	bottom: 100px;
}