<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.camping.main.MainMapper">
<insert id="insertCampingData" parameterType="com.project.camping.main.MainDTO">
	insert into camping_site values(camping_site_seq.nextval, #{c_zipcode}, #{c_addr1}, #{c_animalCmgCl}, #{c_bizrno}, #{c_brazierCl}, #{c_caravAcmpnyAt}, #{c_caravInnerFclty}, #{c_caravSiteCo}, #{c_clturEventAt}, #{c_trlerAcmpnyAt}, #{c_exprnProgrmAt}, #{c_clturEvent}, #{c_doNm}, #{c_sigunguNm}, #{c_exprnProgrm}, #{c_facltNm}, #{c_firstImageUrl}, #{c_glampInnerFclty}, #{c_glampSiteCo}, #{c_gnrlSiteCo}, #{c_homepage}, #{c_insrncAt}, #{c_intro}, #{c_lineIntro}, #{c_mapX}, #{c_mapY}, #{c_operDeCl}, #{c_operPdCl}, #{c_posblFcltyCl}, #{c_resveCl}, #{c_resveUrl}, #{c_sbrsCl}, #{c_tel}, #{c_themaEnvrnCl}, #{c_toiletCo}, #{c_wtrplCo}, #{c_tooltip})
</insert>
<delete id="deleteAlldata">
	delete camping_site
</delete>
<select id="getAllCampingSite" resultType="com.project.camping.main.MainDTO">
	select * from camping_site
</select>
<select id="searchCampingSite" parameterType="com.project.camping.main.SearchDTO" resultType="com.project.camping.main.MainDTO">
	select * from camping_site 
	where (c_doNm like '%'||#{sido1}||'%' and c_sigunguNm like '%'||#{gugun1}||'%') 
	and
	(c_addr1 like '%'||#{searchValue}||'%' or
	c_clturevent like '%'||#{searchValue}||'%' or
	c_donm like '%'||#{searchValue}||'%' or
	c_sigungunm like '%'||#{searchValue}||'%' or
	c_exprnprogrm like '%'||#{searchValue}||'%' or
	c_facltnm like '%'||#{searchValue}||'%' or
	c_intro like '%'||#{searchValue}||'%' or
	c_lineintro like '%'||#{searchValue}||'%' or
	c_operdecl like '%'||#{searchValue}||'%' or
	c_operpdcl like '%'||#{searchValue}||'%' or
	c_posblfcltycl like '%'||#{searchValue}||'%' or
	c_sbrscl like '%'||#{searchValue}||'%' or
	c_themaenvrncl like '%'||#{searchValue}||'%' or
	c_tooltip like '%'||#{searchValue}||'%')
</select>
<select id="getCampingSite" resultType="com.project.camping.main.MainDTO">
	select * from camping_site where c_no = #{c_no}
</select>
</mapper>