<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <form action="">
         <div class="wrap3">
                <div class="accountReg3">
                    <h2>Sign up</h2>
                    
                    <div class="account_id">
                    <h4><label for="ac_id">e-mail</label></h4>
                    <input name="ac_id" id="ac_id" type="email" placeholder="ex) asd@naver.com">
                    <button type="button" onclick="checkidsame()">Id 중복 확인</button>
                    </div>
                    
                    <div class="account_pw">
                    <h4><label for="ac_pw">Password</label></h4>
                    <input name="ac_pw" id="ac_pw" type="text" placeholder="비밀번호를 입력해주세요">
                    </div>
                    
                    <div class="account_pw">
                    <h4><label for="ac_pw2">Password check</label></h4>
                    <input name="ac_pw2" id="ac_pw2" type="text" placeholder="비밀번호를 다시 입력해주세요">
                    </div>
                    
                    <div class="account_name">
                    <h4><label for="ac_name">name</label></h4>
                    <input name="ac_name" id="ac_name" type="text" placeholder="">
                    </div>
                    
                    <div class="account_birth">
                      <h4><label for="ac_birth">BirthDay</label></h4>
                    <input name="ac_birth" id="ac_birth" type="text" maxlength="6" placeholder="6자리 ex)990101">
                    </div>
                    
                    <div class="account_mobileNo">
                        <h4>Password</h4>
                        <input type="password" name="" id="" placeholder="Password">
                    </div>
                    <div class="account_postcode">
                        <h4>Password</h4>
                        <input type="password" name="" id="" placeholder="Password">
                    </div>
                    
                    <div class="account_gender">
                    <label for="ac_gender_man">남자 : </label>
                    <input id="ac_gender_man" type="radio" name="ac_gender" value="남">  
                    <label for="ac_gender_woman">여자 : </label>
                    <input id="ac_gender_woman" type="radio" name="ac_gender" value="여">
                    </div>
                    
                    <div class="account_profilePic">
                        <h4>profile</h4> :<input type="file" name="ac_file" multiple="multiple">
                    </div>
                    
                    <div class="account_submit">
                        <input type="submit" value="submit">
                    </div>
                </div>
            </div>
        </form>
        </body>
</body>
</html>